// ---------------------------------------------------------------------------
// Imports

// colors
//@import "partials/basecolors/darkseagreen";
@import "partials/basecolors/white-smoke";

@import "partials/common-page";


// extra stuff
//@import "partials/imagelist-admin";
//@import "partials/userlist-admin";
//@import "partials/grouplist-admin";
//@import "partials/rssviewer-viewfeed";
//@import "partials/facebook";

//@import "partials/hubby";

@import "partials/tickets";
@import "vignewton/list-styles";
@import "vignewton/common";

.base-widgetbox {
    font-size: 0.8em;
}

.line-table {
    display: inline-block;
    border-style: solid;
    border-width: 0.1em;
    border-color: $basecolor2;
}

.underover-table {
    display: inline-block;
    float: right;
    border-style: solid;
    border-width: 0.1em;
    border-color: $basecolor2;
}
